USE [master]
GO
/****** Object:  Database [DesafioPaschoalotto]    Script Date: 11/03/2024 23:04:23 ******/
CREATE DATABASE [DesafioPaschoalotto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DesafioPaschoalotto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DesafioPaschoalotto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DesafioPaschoalotto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DesafioPaschoalotto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DesafioPaschoalotto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DesafioPaschoalotto]
GO
/****** Object:  Table [dbo].[Resultados]    Script Date: 11/03/2024 23:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultados](
	[wordsPerMinute] [nchar](10) NULL,
	[keyStrokes] [nchar](10) NULL,
	[correctWords] [int] NULL,
	[WrongWords] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
